{% extends "clean/layout.html" %}
<!-- {% load static %} -->
{% block head %}
    <!-- <link rel="stylesheet" href="{% static '/clean/css/service_card.css' %}"> -->
    <style>
      .card {
      box-shadow: 0 4px 8px 0 hsla(64, 73%, 60%, 0.2);
      max-width: 300px;
      margin: 5px auto;
      text-align: center;
      font-family: arial;
      color: white;
    }
    
    .price {
      color: rgb(202, 130, 130);
      font-size: 22px;
    }
    
    .card a {
      border: none;
      outline: 0;
      padding: 12px;
      color: rgb(2, 16, 29);
      background-color: rgb(35, 182, 96);
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 18px;
    }
    
    .card a:hover {
      opacity: 0.7;
    }
  </style>
    
{% endblock %}

{% block body %}
  {% if services|length %}
    {% for service in services %}
      <div class="card">
        
        <h1>{{service.name}}</h1>
        <p class="price">Point: {{service.point}}</p>
        <!-- <p> Deadline: {{service.deadline}} </p> -->
        <p>{{service.description}}</p>
        <p><a href="{% url 'clean:dev_add_service' user_pk=user.pk service_pk=service.pk %}">Add</a></p>
      </div>
    {% endfor %}
  {% else %}
    <h1 class="center links height30">No Service To Take:)</h1>
  {% endif %}
  
{% endblock %}

 
