.card {
  box-shadow: 0 4px 8px 0 hsla(64, 73%, 60%, 0.2);
  max-width: 300px;
  margin: 5px auto;
  text-align: center;
  font-family: arial;
  color: white;
}

.price {
  color: rgb(202, 130, 130);
  font-size: 22px;
}

.card a {
  border: none;
  outline: 0;
  padding: 12px;
  color: rgb(2, 16, 29);
  background-color: rgb(35, 182, 96);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card a:hover {
  opacity: 0.7;
}